.wrapper
  .header
    .header-icon メルカリ
    %form.header-form{action: ''}
      %input{placeholder: '何かお探しですか？'}
    %ul
      %li カテゴリーから探す
      %li ブランドから探す
    %ul
      %li お知らせ
      %li やることリスト
      %li マイページ
  .main
    .main-top
    .main-center
  .footer
    .footer-top
    .footer-bottom