@import './variable';

.simple-calendar {
    height: 100%;
    width: 100%;
    .calendar-heading {
        height: 100px;
        background-color: $blue;
    }
    .day {padding: 20px}
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {}
    .past {}
    .future {}

    .start-date {}

    .prev-month {}
    .next-month { }
    .current-month {}

    .has-events {}
}