@import './variable';

.simple-calendar {
    height: 100vh;
    width: 100vw;
    .calendar-heading {
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: $blue;
        &__center{
            padding:10px;
            a {
                color: black;
                font-size: 30px;
                text-decoration: none;
            }
            .calendar-title {
                font-size: 50px;
            }
        }
    }
    .day {padding: 20px}
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {}
    .past {}
    .future {}

    .start-date {}

    .prev-month {}
    .next-month { }
    .current-month {}

    .has-events {}
}